@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  &:before{
    content:'';
    content: "";
    width: 100%;
    // height: calc(100vh - 60px);
    background: #FAFAFA;
    // background-image: url("../public/bg.jpg");
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}

.border-box {
    border: 1px solid #dbdbdb;
}

input {
    background-color: #FAFAFA;
    &:focus {
        outline: none !important;
        border:1px solid #bdbdbd;
    }
}
