@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #262626;
  min-height: 100% !important;
  height: 100%;
  box-sizing: border-box;
}

.border-box {
  border: 1px solid #dbdbdb;
}

section {
  min-height: calc(100vh - 60px);
  width: 100%;
}

input {
  background-color: #fafafa;
  &:focus {
    outline: none !important;
    border: 1px solid #bdbdbd;
  }
}

textarea {
  resize: none;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: rgb(156 163 175);
  }
}

.post {
  @extend .border-box;
  background-color: #ffffff;
  width: 100%;
  height: fit-content;
  border-radius: 2px;
}

span,
p {
  letter-spacing: 0.02em;
}

.modal-create {

  &__overlay {
    position: fixed;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.modal-post {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__overlay {
    position: fixed;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 64px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}


.triangle {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.comment {
  &__menu {
    display: none;
  }
  &:hover &__menu {
    
    display: block;
  }
}